.App {
  text-align: center;
  background-color: white;
}

.bgOrange{
  
  background-color: #5D8BF4;
  padding-left: 5px;
  border-radius: 5px;
  height: 30px;
  color: white;
}
.bgRed{
   background-color: #7FB5FF; 
  padding-left: 5px;
  border-radius: 5px;
  height: 30px;
  color: white;
}
.bgYellow{
  background-color: #2074d4;
  padding-left: 5px;
  border-radius: 5px;
  height: 30px;
  color: white;

}
.inputNote{
  margin: 8px;
}
.formLi{
  margin: 4px;
  text-align: start;
}
.deneme{
  
  text-align: end;
}
.footer {
  bottom:5px;
  position:absolute;
 
}
